*{
    padding: 0px;
    margin: 0px;
}
.title{
    text-align: center;
    margin: 10px 0px;
}
#main{
    width: 800px;
    height: 500px;
    border: 1px solid red;
    margin: 0 auto;
}
#main .left{
    width: 600px;
    height: 100%;
    float: left;
    position: relative;
}
#main .right{
    width: 200px;
    height: 100%;
    background-color: pink;
    border-left: 1px solid red;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
#main .right h2{
    margin: 10px auto;
    text-align: center;
}
#main .right button{
    width: 100px;
    height: 30px;
    background-color: #abcdef;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    outline: 0px;
    margin-top: 30px;
}
.food{
    background-color: red;
}
.snake{
    background-color: green;
}